Repository mdaashir/Nimora: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, prettier --write

refactor: consolidate types and utils into server package
  client/package.json
  client/src/app/dashboard/attendance/page.tsx
  client/src/app/dashboard/cgpa/page.tsx
  client/src/app/dashboard/internals/page.tsx
  client/src/app/dashboard/timetable/page.tsx
  client/src/lib/api-client.ts
  client/src/types/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
  server/src/attendance/attendance.service.ts
  server/src/cgpa/cgpa.service.ts
  server/src/internals/internals.service.ts
  server/src/scrapers/attendance.scraper.ts
  server/src/scrapers/cgpa.scraper.ts
  server/src/scrapers/internals.scraper.ts
  server/src/scrapers/timetable.scraper.ts
  server/src/timetable/timetable.service.ts
  server/src/types/api.ts
  server/src/types/attendance.ts
  server/src/types/cgpa.ts
  server/src/types/feedback.ts
  server/src/types/index.ts
  server/src/types/internals.ts
  server/src/types/timetable.ts
  server/src/types/user.ts
  server/src/utils/calculations.spec.ts
  server/src/utils/calculations.ts
  server/src/utils/date.ts
  server/src/utils/index.ts
  server/src/utils/validation.spec.ts
  server/src/utils/validation.ts
  server/types/package.json
  server/types/src/index.ts
  server/types/tsconfig.json
  server/utils/package.json
  server/utils/src/index.ts
  server/utils/src/validation.spec.ts
  server/utils/tsconfig.json
Due: eslint --fix --config eslint.config.mjs, prettier --write

chore: update Tailwind CSS classes to v4 syntax
  client/src/app/dashboard/cgpa/page.tsx
  client/src/app/dashboard/feedback/page.tsx
  client/src/app/dashboard/layout.tsx
Due: none

fix: update outdated configurations and references
  .github/workflows/test.yml
  client/src/app/dashboard/class-timetable/page.tsx
  client/tsconfig.json
  docker-compose.dev.yml
  docker-compose.yml
  server/Dockerfile
  server/tsconfig.json
Due: prettier --write

fix: update Dockerfile.dev to remove deleted package references
  server/Dockerfile.dev
Due: none

feat: add environment variables configuration and validation
  .env.example
  .github/workflows/security.yml
  .github/workflows/test.yml
  client/.env.example
  client/next.config.ts
  client/playwright.config.ts
  client/src/__tests__/e2e/accessibility.spec.ts
  client/src/__tests__/e2e/login.spec.ts
  client/src/app/dashboard/class-timetable/page.tsx
  client/src/lib/api-client.ts
  package.json
  pnpm-lock.yaml
  server/.env.example
  server/package.json
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/attendance/dto/attendance-request.dto.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/crypto.service.ts
  server/src/auth/dto/login.dto.ts
  server/src/auth/strategies/jwt.strategy.ts
  server/src/cache/cache.module.ts
  server/src/cgpa/dto/cgpa-request.dto.ts
  server/src/config/env.validation.ts
  server/src/feedback/dto/feedback-request.dto.ts
  server/src/internals/dto/internals-request.dto.ts
  server/src/main.ts
  server/src/scrapers/attendance.scraper.ts
  server/src/scrapers/cgpa.scraper.ts
  server/src/scrapers/ecampus-auth.service.ts
  server/src/scrapers/feedback.scraper.ts
  server/src/scrapers/internals.scraper.ts
  server/src/scrapers/timetable.scraper.ts
  server/src/timetable/dto/timetable-request.dto.ts
  server/src/users/dto/create-user.dto.ts
  server/webpack.config.js
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: enhance configuration validation and update dependencies
  .github/workflows/test.yml
  client/src/__tests__/e2e/accessibility.spec.ts
  client/src/__tests__/e2e/login.spec.ts
  client/vitest.config.ts
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/crypto.service.ts
  server/src/auth/strategies/jwt.strategy.ts
  server/src/cache/cache.module.ts
  server/src/main.ts
  server/src/scrapers/attendance.scraper.ts
  server/src/scrapers/cgpa.scraper.ts
  server/src/scrapers/ecampus-auth.service.ts
  server/src/scrapers/feedback.scraper.ts
  server/src/scrapers/internals.scraper.ts
  server/src/scrapers/timetable.scraper.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

fix: Use test.skip() instead of conditional skipInCI variable for proper Playwright typing
  client/src/__tests__/e2e/accessibility.spec.ts
  client/src/__tests__/e2e/login.spec.ts
Due: none

docs: update README and create comprehensive documentation
  README.md
  client/README.md
  server/README.md
Due: prettier --write

docs: add comprehensive contributing and development guides
  CONTRIBUTING.md
  DEVELOPMENT.md
Due: prettier --write

refactor: remove example environment file and development Dockerfile
  .env.example
  README.md
  client/.env.example
  client/Dockerfile.dev
  client/next.config.js
  client/package.json
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  server/.env.example
  server/Dockerfile.dev
  server/package.json
  server/prisma/schema.prisma
  server/src/app.module.ts
  server/src/prisma/prisma.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Update custom attendance percentage to 75 in Home and Attandance components
  client/src/pages/attandancePage.jsx
  client/src/pages/homePage.jsx
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: any of: server/src/**/*.ts
  prettier --write: (any of: server/src/**/*.ts) or (any of: *.{json,md,yaml,yml})
